<ion-header class="ion-no-border">
	<ion-toolbar color="warning">
		<ion-item lines="none" color="warning">
			<ion-title style="text-align: center; font-weight: bolder;font-size:3em; margin: 0;">
				BAC EXAMS
			</ion-title>
		</ion-item>
	</ion-toolbar>
</ion-header>

<ion-content color="warning">
	<div class="xc fullheight ion-text-center" style="padding: 20px 0 20px 0">
		<ion-icon style="font-size:10em" name="school"></ion-icon>
		<p style=" font-size:1.5em; margin: 0;line-height: 2em; padding: 20px;">
			Révisez vos cours et entrainez vous au BAC avec cette collection d'examens nationaux avec leur correction.
		</p>
		<div class="ion-text-center" ion-padding *ngFor="let b of allBranches">
			<ion-button color="dark" (click)="navigateTo(b.key)">
				{{b.name}}
			</ion-button>
		</div>
	</div>
</ion-content>
