<div style="position:sticky;top: 0;z-index: 99;">
	<ion-button *ngIf="section.parent" (click)="onCollapsButtonClick()" fill="clear" color="dark"
				style="position:absolute;top:-8px;right: -15px;z-index: 100;">
		<ion-icon name="chevron-up-outline" *ngIf="!collapsed"></ion-icon>
		<ion-icon name="chevron-down-outline" *ngIf="collapsed"></ion-icon>
	</ion-button>
	<ion-item [innerHTML]="section.title" color="success">	</ion-item>
</div>

<ng-container *ngIf="!collapsed">

	<ion-card *ngFor="let child of section.children" color="light">

		<section-view *ngIf="child.type=='Section';else Content" [section]="child"></section-view>
		<ng-template #Content>
			<content-view [content]="child"></content-view>
		</ng-template>
	</ion-card>
</ng-container>

